<div class="form-title">
  <h2>New Microhood:</h2>
</div>
<div class="form">
  <%= form_for @microhood do |f| %>
  <div class="input-group select">
      <%= f.label :neighborhood %>
      <%= f.select :neighborhood_id, options_for_select(@neighborhoods_collection) %>
  </div>
  <div class="input-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="input-group">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="input-group">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="input-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
    <div class="input-group">
      <%= f.submit "Add Microhood" %>
    </div>
  </div>

<% end %>
