<h1>Reviews for <%= @microhood.street %></h1>
<% @reviews.each do |review| %>
  <h5> <%= review.title %> </h5>
  <ul>
    <li>Overall Rating: <%= review.rating %></li>
    <li>Saftey Rating: <%= review.safety_rating %></li>
    <li>School Rating: <%= review.schools_rating %></li>
    <li>Food and Entertainment Rating: <%= review.food_entertainment %></li>
    <li>Public Transportation Rating: <%= review.public_transport %></li>
  </ul>
    <p>Description: <%= review.body %> </p>
<% end %>
<% if !@current_user.nil? %>
  <% if @current_user.id == @microhood.user_id %>
    <br></br>
    <%= link_to 'Edit this microhood!', edit_microhood_path(@microhood) %>
    <br></br>
    <%= form_for(@microhood, method: "delete") do |f| %>
      <%= f.submit "Delete Microhood"%>
    <% end %>
  <% end %>
<% end %>
