Edit Your Review

<div class='form'>
  <%= form_for [@microhood, @review] do |f| %>
  <div class='input-group select'>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>
  <div class='input-group'>
    <%= f.label 'Safety Rating' %>
    <%= f.number_field :safety_rating, class: 'input-group-field' %>
  </div>
  <div class='input-group'>
    <%= f.label 'School Rating' %>
    <%= f.number_field :schools_rating, class: 'input-group-field' %>
  </div>

  <div class='input-group'>
    <%= f.label 'Food and Entertainment' %>
    <%= f.number_field :food_entertainment, class: 'input-group-field'%>
  </div>

  <div class='input-group'>
    <%= f.label 'Public Transportation' %>
    <%= f.number_field :public_transport, class: 'input-group-field'%>
  </div>

  <div class='input-group'>
    <%= f.label 'Description' %>
    <%= f.text_field :body, class: 'input-group-field' %>
  </div>
    <div class='input-group'>
      <%= f.submit 'Add Review', class: 'button' %>
    </div>
  </div>
<% end %>
