<!DOCTYPE html>
<html>
  <head>
    <title>BostonNeighborhoodReviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <%= yield %>
  </body>
</html>
