<!DOCTYPE html>
<html>
  <head>
    <title>BostonNeighborhoodReviews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
    <div class='background-overlay'>
      <body class='main-background'>
        <div data-sticky-container>
        <div class='title-bar' data-sticky data-options='marginTop:0;' style='width:100%'>
          <div class='title-bar-right'>
            <ul class='hmenu'>
              <%= render 'devise/menu/registration_items' %> /
              <%= render 'devise/menu/login_items' %>
            </ul>
          </div>
          <div class='title-bar-left'> <%= link_to 'Boston Microhoods', root_path %></div>
        </div>
      </div>
          <% flash.each do |key, value| %>
            <%= value %>
          <% end %>
        <%= yield %>
      </body>
    </div>
</html>
